<lgblog-post-edit *ngIf="!previewMode"
    [selectedPost]="post"
    [loading]="loading | async"
    (savePostEvent)="savePost($event)"
    (cancelEvent)="cancel()"
    (deletePostEvent)="deletePost($event)"
    (previewEvent)="preview($event)">
</lgblog-post-edit>
<lgblog-post-preview *ngIf="previewMode"
    [selectedPost]="post"
    (cancelPreviewEvent)="cancelPreview()"></lgblog-post-preview>