<div fxLayout="column" fxFlexFill>
    <mat-toolbar color="primary" class="mat-elevation-z6">
        <div fxLayoutAlign="space-between center" class="nav-header">
            <a [routerLink]="['/']">Luciano's blog</a>
            <div>
                <a *ngIf="!(user | async)?.uid" href="https://bitbucket.org/lgoncalv/lucianogoncalves"
                    target="_blank">
                    <img [src]="BITBUCKET_LOGO">
                </a>
                <div *ngIf="(authService.user$ | async)?.uid">
                    <button mat-button 
                        (click)="drafts()">Drafts</button>
                        <button mat-button
                        (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>